table {
    border-collapse: collapse;
    font-family: sans-serif;
}
table,th,td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    vertical-align: top;
}
th {
    text-align: left;
    font-weight: normal;
}
